*{
    font-family: 'Montserrat', sans-serif;
}
 
body,a,ul,li{
     margin: 0;
     padding: 0;
     text-decoration: none;
     color: azure;
}
 
li{
     list-style-type: none;
}
 
p,a,li,span{
   font-size: 1em;
}
 
h1, h3{
   font-size: 1.2em;
}
 
h2{
   font-size: 1.6em;
}
h4{
   font-size: 1.1em;
}

.menu{

   display: flex;
   justify-content: center;
   padding: 20px;
   width: 100%;
}

.menu > ul{
   float: right;
}

.menu > ul > li{
   display: inline-block;
   margin: 0 5px;
}

.menu > ul > li > a{
   color: white;
   text-transform: uppercase;
}

a.active,a:hover{
   font-weight: bold;
   transition: .5s;
}

.checkbtn{
   cursor: pointer;
   font-size: 30px;
}

#check{
   display: none;
}

@media (max-width: 550px){
   .menu{
      position: -webkit-sticky; /* Necessário para funcionar no Safari */
      position: sticky;
      top: 0;
   }
   .checkbtn{
      display: block;
   }
   ul{
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background-color: #735943;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
   }
   nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
      padding: 10px;
   }
   nav ul li a{
      font-size: 20px;
   }
   a:hover,a.active{
      background: none;
      color: #735943;
   }
   #check:checked ~ ul{
      left: 0;
   }
}

#container_principal{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 600px;
   background-image: url('./layout/assets/mapa_fotos.svg');
   background-size: cover;
   margin-bottom: 20px;
}

#container_titulo_form{
   display: flex;
   flex-direction: column;
}

#container_titulo_form > div{
   width: 300px;
}

#container_titulo_form > div:nth-child(1) > span{
   display: block;
   margin-bottom: 10px;
}

#container_titulo_form > div:nth-child(2){
   border-radius: 5px;
   background-color: #F29829;
}

#titulo_form{
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 1px solid #FFCD2B;
}

#titulo_form > span{
   font-weight: bold;
   font-size: 1em;
}

#dados_container{
   margin: 20px;
   display: flex;
   flex-direction: column;
}

#dados_container > button{
   border: none;
   outline: none;
   background-color: #D90479;
   color: azure;
   font-weight: bold;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 8px;
   margin-right: 8px;
   margin-top: 8px;
}

#dados_container > button:hover{
   cursor: pointer;
   background-color: #A8035E;
   position: relative;
   bottom: 1px;
   box-shadow: -2px 2px #570230;
}

#dados_container > button:active{
   cursor: pointer;
   background-color: #7A0244;
   position: relative;
   bottom: 3px;
   box-shadow: -3px 4px #570230;   
}

.data_passageiro{
   display: flex;
   align-items: center;
   justify-content: center;
}

.dados{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 8px;
   width: 120px;
   height: 50px;
   background-color: white;
}

.dados > i{
   font-size: 25px;
   margin: 5px;
   color: gray;
}

section{
   max-width: 100%;
}

#titulo_promo{
   margin-bottom: 20px;
   width: 282px;
}

#titulo_promo > span{
   text-align: left;
   font-size: 1.2em;
   display: block;
   padding-bottom: 10px;
   color: #383838;
}

#titulo_promo > div{
   margin: 0 auto 0 0;
   width: 65px;
   height: 2px;
   background-color: #F29829;
}

#container_cards{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 50px;
}

.card_viagem{
   border-radius: 20px;
   border: 1px solid #E9E9E9;
   margin-top: 10px;
   width: 280px;
}

.card_viagem_texto{
   background-color: #383838;
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   width: 242px;
   height: 450px;
   padding: 20px;  
}

.card_viagem_texto div:nth-child(2){
   font-size: 1.1em;
   
}

.img_card > img{
   width: 100%;
   height: 100%;
   border-bottom: 2px solid #E9E9E9;
}

.card_conteudo{
   display: flex;
   flex-direction: column;
   padding: 20px;
}

.card_anunciado{
   text-align: left;
   border-bottom: 2px solid #E9E9E9;
   margin-bottom: 20px;
}

.card_anunciado > h3{
   color: black;
   margin: 0px;
}

.card_anunciado > span{
   display: block;
   color: #707070;
   margin-top: 8px;
   margin-bottom: 8px;
}

.card_preco{
   text-align:left;
   color: black;
   margin-bottom: 15px;
}

.card_preco > h3{
   color: #F29829;
   margin: 0px;
}

.card_preco span:nth-child(2){
   color: #707070;
   display: block;
   margin-top: 8px;
   margin-bottom: 8px;
}

.card_preco span:nth-child(3){
   font-weight: bold;
   font-size: 1.6em;
   color: #383838;
   display: block;
   margin-bottom: 8px;
}

.card_preco span:nth-child(4){
   color: #707070;
   display: block;
}

.card_botao{
   background-color: #D90479;
   margin-top: 20px;
   border-radius: 10px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: auto;
}

.card_botao > a{
   display: block;
   font-weight: bold;
   font-size: 1.2em;
}

.card_botao:hover{
   cursor: pointer;
   background-color: #A8035E;
   position: relative;
   bottom: 1px;
   box-shadow: -2px 2px #570230;
}

.card_botao:active{
   cursor: pointer;
   background-color: #7A0244;
   position: relative;
   bottom: 3px;
   box-shadow: -3px 4px #570230;   
}

footer{
   margin-top: auto;
   background-color: #E9E9E9;
   display: flex;
   align-self: flex-end;
   justify-content: center;
   align-items: center;
   padding: 20px;
}


@media (min-width: 750px){
   #container_cards{
      flex-direction: row;
      flex-wrap: wrap;
   }
}